USE [Form115]
GO
ALTER TABLE [dbo].[Utilisateurs] DROP CONSTRAINT [Utilisateurs_Users_fk]
GO
ALTER TABLE [dbo].[Sejours] DROP CONSTRAINT [fk_sejours_hotels]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [Reservations_Utilisateurs_fk]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [fk_reservations_produits]
GO
ALTER TABLE [dbo].[Promotions] DROP CONSTRAINT [Promotion_Hotel_fk]
GO
ALTER TABLE [dbo].[Produits] DROP CONSTRAINT [fk_produits_sejours]
GO
ALTER TABLE [dbo].[HotelTracking] DROP CONSTRAINT [fk_HotelTracking_Hotels]
GO
ALTER TABLE [dbo].[Hotels] DROP CONSTRAINT [Hotels_Villes_fk]
GO
ALTER TABLE [dbo].[Hotels] DROP CONSTRAINT [Hotels_Categories_fk]
GO
ALTER TABLE [dbo].[Commentaires] DROP CONSTRAINT [fk_Commentaires_Utilisateurs]
GO
ALTER TABLE [dbo].[Commentaires] DROP CONSTRAINT [fk_Commentaires_Hotels]
GO
ALTER TABLE [dbo].[Commentaires] DROP CONSTRAINT [fk_Commentaires_Commentaires]
GO
/****** Object:  Index [ak_Sejour]    Script Date: 02/09/2015 23:03:56 ******/
ALTER TABLE [dbo].[Sejours] DROP CONSTRAINT [ak_Sejour]
GO
/****** Object:  Index [ak_Produit]    Script Date: 02/09/2015 23:03:56 ******/
ALTER TABLE [dbo].[Produits] DROP CONSTRAINT [ak_Produit]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Utilisateurs]
GO
/****** Object:  Table [dbo].[Sejours]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Sejours]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Reservations]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Promotions]
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Produits]
GO
/****** Object:  Table [dbo].[HotelTracking]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[HotelTracking]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Hotels]
GO
/****** Object:  Table [dbo].[Commentaires]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Commentaires]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02/09/2015 23:03:56 ******/
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[IdCategorie] [tinyint] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](20) NOT NULL,
 CONSTRAINT [Pk_Categorie] PRIMARY KEY CLUSTERED 
(
	[IdCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Commentaires]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commentaires](
	[IdCommentaire] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](60) NULL,
	[Commentaire] [ntext] NOT NULL,
	[DateCommentaire] [datetime2](7) NOT NULL,
	[IdHotel] [int] NOT NULL,
	[IdUtilisateur] [int] NOT NULL,
	[IdCommentaireReference] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCommentaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hotels](
	[IdHotel] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](60) NULL,
	[IdVille] [int] NULL,
	[Categorie] [tinyint] NULL,
	[Description] [ntext] NULL,
	[Photo] [varchar](60) NULL,
 CONSTRAINT [Pk_Hotels] PRIMARY KEY CLUSTERED 
(
	[IdHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HotelTracking]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelTracking](
	[IdHotelTracking] [int] IDENTITY(1,1) NOT NULL,
	[DateHT] [datetime2](7) NOT NULL,
	[IdHotel] [int] NOT NULL,
 CONSTRAINT [PK_HotelTracking] PRIMARY KEY CLUSTERED 
(
	[IdHotelTracking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Produits]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produits](
	[IdProduit] [int] IDENTITY(1,1) NOT NULL,
	[IdSejour] [int] NOT NULL,
	[NbPlaces] [int] NOT NULL,
	[DateDepart] [date] NOT NULL,
	[Prix] [numeric](18, 0) NULL,
 CONSTRAINT [Pk_Produits] PRIMARY KEY CLUSTERED 
(
	[IdProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[IdPromo] [int] IDENTITY(1,1) NOT NULL,
	[IdHotel] [int] NOT NULL,
	[DateDebut] [date] NOT NULL,
	[DateFin] [date] NOT NULL,
	[Valeur] [tinyint] NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[IdPromo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[IdReservation] [int] IDENTITY(1,1) NOT NULL,
	[IdProduit] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IdUtilisateur] [int] NOT NULL,
 CONSTRAINT [Pk_Reservations] PRIMARY KEY CLUSTERED 
(
	[IdReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sejours]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sejours](
	[IdSejour] [int] IDENTITY(1,1) NOT NULL,
	[IdHotel] [int] NOT NULL,
	[Duree] [tinyint] NOT NULL,
 CONSTRAINT [Pk_Sejours] PRIMARY KEY CLUSTERED 
(
	[IdSejour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 02/09/2015 23:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[IdUtilisateur] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](60) NULL,
	[Prenom] [nvarchar](60) NULL,
	[Telephone] [varchar](12) NULL,
	[IdAspNetUsers] [nvarchar](128) NULL,
 CONSTRAINT [Pk_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[IdUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([IdCategorie], [Description]) VALUES (1, N'1 étoiles')
INSERT [dbo].[Categories] ([IdCategorie], [Description]) VALUES (2, N'2 étoiles')
INSERT [dbo].[Categories] ([IdCategorie], [Description]) VALUES (3, N'3 étoiles')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([IdHotel], [Nom], [IdVille], [Categorie], [Description], [Photo]) VALUES (2, N'Hotel Manhattan', 1, 2, N'Dans ce luxurieux hotel...', NULL)
INSERT [dbo].[Hotels] ([IdHotel], [Nom], [IdVille], [Categorie], [Description], [Photo]) VALUES (3, N'Hotel California', 5, 3, N'Hotel de passe...', NULL)
INSERT [dbo].[Hotels] ([IdHotel], [Nom], [IdVille], [Categorie], [Description], [Photo]) VALUES (5, N'El Gringo Hotel', 84, 5, N'Hotel festif', NULL)
GO
SET IDENTITY_INSERT [dbo].[Hotels] OFF
SET IDENTITY_INSERT [dbo].[HotelTracking] ON 

INSERT [dbo].[HotelTracking] ([IdHotelTracking], [DateHT], [IdHotel]) VALUES (1, CAST(N'2015-08-28 19:33:25.9015250' AS DateTime2), 1095)
INSERT [dbo].[HotelTracking] ([IdHotelTracking], [DateHT], [IdHotel]) VALUES (2, CAST(N'2015-08-28 19:33:39.7483170' AS DateTime2), 1020)
INSERT [dbo].[HotelTracking] ([IdHotelTracking], [DateHT], [IdHotel]) VALUES (3, CAST(N'2015-08-28 19:33:44.5175898' AS DateTime2), 1054)
SET IDENTITY_INSERT [dbo].[HotelTracking] OFF
SET IDENTITY_INSERT [dbo].[Produits] ON 

INSERT [dbo].[Produits] ([IdProduit], [IdSejour], [NbPlaces], [DateDepart], [Prix]) VALUES (2, 1, 50, CAST(N'2015-11-09' AS Date), CAST(15000 AS Numeric(18, 0)))
INSERT [dbo].[Produits] ([IdProduit], [IdSejour], [NbPlaces], [DateDepart], [Prix]) VALUES (1002, 1005, 25, CAST(N'2015-10-15' AS Date), CAST(900 AS Numeric(18, 0)))
INSERT [dbo].[Produits] ([IdProduit], [IdSejour], [NbPlaces], [DateDepart], [Prix]) VALUES (1003, 6, 10, CAST(N'2015-12-15' AS Date), CAST(259 AS Numeric(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Produits] OFF
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([IdPromo], [IdHotel], [DateDebut], [DateFin], [Valeur]) VALUES (2, 1002, CAST(N'2015-08-28' AS Date), CAST(N'2015-10-25' AS Date), 12)
INSERT [dbo].[Promotions] ([IdPromo], [IdHotel], [DateDebut], [DateFin], [Valeur]) VALUES (3, 1003, CAST(N'2015-09-20' AS Date), CAST(N'2015-12-20' AS Date), 39)
INSERT [dbo].[Promotions] ([IdPromo], [IdHotel], [DateDebut], [DateFin], [Valeur]) VALUES (4, 1004, CAST(N'2015-09-09' AS Date), CAST(N'2015-11-04' AS Date), 43)
GO
SET IDENTITY_INSERT [dbo].[Promotions] OFF
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([IdReservation], [IdProduit], [Quantity], [IdUtilisateur]) VALUES (1, 1002, 2, 1)
INSERT [dbo].[Reservations] ([IdReservation], [IdProduit], [Quantity], [IdUtilisateur]) VALUES (2, 1005, 5, 2)
INSERT [dbo].[Reservations] ([IdReservation], [IdProduit], [Quantity], [IdUtilisateur]) VALUES (3, 2, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Reservations] OFF
SET IDENTITY_INSERT [dbo].[Sejours] ON 

INSERT [dbo].[Sejours] ([IdSejour], [IdHotel], [Duree]) VALUES (5, 2, 1)
INSERT [dbo].[Sejours] ([IdSejour], [IdHotel], [Duree]) VALUES (3, 2, 5)
INSERT [dbo].[Sejours] ([IdSejour], [IdHotel], [Duree]) VALUES (1, 2, 11)
GO
SET IDENTITY_INSERT [dbo].[Sejours] OFF
SET IDENTITY_INSERT [dbo].[Utilisateurs] ON 

INSERT [dbo].[Utilisateurs] ([IdUtilisateur], [Nom], [Prenom], [Telephone], [IdAspNetUsers]) VALUES (1, N'Hungis', N'Martina', N'0123456789', NULL)
INSERT [dbo].[Utilisateurs] ([IdUtilisateur], [Nom], [Prenom], [Telephone], [IdAspNetUsers]) VALUES (2, N'Martinez', N'Jacques', N'0198765432', NULL)
INSERT [dbo].[Utilisateurs] ([IdUtilisateur], [Nom], [Prenom], [Telephone], [IdAspNetUsers]) VALUES (3, N'Camara', N'Aramac', N'0144778899', NULL)
GO
SET IDENTITY_INSERT [dbo].[Utilisateurs] OFF
/****** Object:  Index [ak_Produit]    Script Date: 02/09/2015 23:03:56 ******/
ALTER TABLE [dbo].[Produits] ADD  CONSTRAINT [ak_Produit] UNIQUE NONCLUSTERED 
(
	[IdProduit] ASC,
	[DateDepart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ak_Sejour]    Script Date: 02/09/2015 23:03:56 ******/
ALTER TABLE [dbo].[Sejours] ADD  CONSTRAINT [ak_Sejour] UNIQUE NONCLUSTERED 
(
	[IdHotel] ASC,
	[Duree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commentaires]  WITH CHECK ADD  CONSTRAINT [fk_Commentaires_Commentaires] FOREIGN KEY([IdCommentaireReference])
REFERENCES [dbo].[Commentaires] ([IdCommentaire])
GO
ALTER TABLE [dbo].[Commentaires] CHECK CONSTRAINT [fk_Commentaires_Commentaires]
GO
ALTER TABLE [dbo].[Commentaires]  WITH CHECK ADD  CONSTRAINT [fk_Commentaires_Hotels] FOREIGN KEY([IdHotel])
REFERENCES [dbo].[Hotels] ([IdHotel])
GO
ALTER TABLE [dbo].[Commentaires] CHECK CONSTRAINT [fk_Commentaires_Hotels]
GO
ALTER TABLE [dbo].[Commentaires]  WITH CHECK ADD  CONSTRAINT [fk_Commentaires_Utilisateurs] FOREIGN KEY([IdUtilisateur])
REFERENCES [dbo].[Utilisateurs] ([IdUtilisateur])
GO
ALTER TABLE [dbo].[Commentaires] CHECK CONSTRAINT [fk_Commentaires_Utilisateurs]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [Hotels_Categories_fk] FOREIGN KEY([Categorie])
REFERENCES [dbo].[Categories] ([IdCategorie])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [Hotels_Categories_fk]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [Hotels_Villes_fk] FOREIGN KEY([IdVille])
REFERENCES [dbo].[Villes] ([idVille])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [Hotels_Villes_fk]
GO
ALTER TABLE [dbo].[HotelTracking]  WITH CHECK ADD  CONSTRAINT [fk_HotelTracking_Hotels] FOREIGN KEY([IdHotel])
REFERENCES [dbo].[Hotels] ([IdHotel])
GO
ALTER TABLE [dbo].[HotelTracking] CHECK CONSTRAINT [fk_HotelTracking_Hotels]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [fk_produits_sejours] FOREIGN KEY([IdSejour])
REFERENCES [dbo].[Sejours] ([IdSejour])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [fk_produits_sejours]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [Promotion_Hotel_fk] FOREIGN KEY([IdHotel])
REFERENCES [dbo].[Hotels] ([IdHotel])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [Promotion_Hotel_fk]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [fk_reservations_produits] FOREIGN KEY([IdProduit])
REFERENCES [dbo].[Produits] ([IdProduit])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [fk_reservations_produits]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [Reservations_Utilisateurs_fk] FOREIGN KEY([IdUtilisateur])
REFERENCES [dbo].[Utilisateurs] ([IdUtilisateur])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [Reservations_Utilisateurs_fk]
GO
ALTER TABLE [dbo].[Sejours]  WITH CHECK ADD  CONSTRAINT [fk_sejours_hotels] FOREIGN KEY([IdHotel])
REFERENCES [dbo].[Hotels] ([IdHotel])
GO
ALTER TABLE [dbo].[Sejours] CHECK CONSTRAINT [fk_sejours_hotels]
GO
ALTER TABLE [dbo].[Utilisateurs]  WITH CHECK ADD  CONSTRAINT [Utilisateurs_Users_fk] FOREIGN KEY([IdAspNetUsers])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Utilisateurs] CHECK CONSTRAINT [Utilisateurs_Users_fk]
GO
