@model Form115.Areas.Admin.Models.InfoViewModel
@{
    ViewBag.Title = @Model.TitrePage;
}

<h2>@Model.ResumeInfoTitre</h2>

<p>@Model.DetailInfo</p>

@if (Model.Ajout != null) {
    @Html.Raw(Model.Ajout)
}


