USE [Form115]
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 8/28/2015 5:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Continents](
	[idContinent] [int] NOT NULL,
	[name] [varchar](20) NULL,
 CONSTRAINT [Continents_pk] PRIMARY KEY CLUSTERED 
(
	[idContinent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 8/28/2015 5:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pays](
	[CodeIso3] [char](3) NOT NULL,
	[Name] [char](52) NOT NULL,
	[surfacearea] [float] NOT NULL,
	[indepyear] [smallint] NULL,
	[population] [int] NOT NULL,
	[lifeexpectancy] [float] NULL,
	[gnp] [float] NULL,
	[gnpold] [float] NULL,
	[localName] [char](45) NOT NULL,
	[CodeIso2] [char](2) NOT NULL,
	[idRegion] [int] NOT NULL,
	[idgovform] [int] NOT NULL,
	[idheadofstate] [int] NULL,
 CONSTRAINT [Pays_pk] PRIMARY KEY CLUSTERED 
(
	[CodeIso3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 8/28/2015 5:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regions](
	[idRegion] [int] NOT NULL,
	[name] [varchar](26) NOT NULL,
	[idContinent] [int] NOT NULL,
 CONSTRAINT [Regions_pk] PRIMARY KEY CLUSTERED 
(
	[idRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Villes]    Script Date: 8/28/2015 5:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Villes](
	[idVille] [int] NOT NULL,
	[name] [char](35) NOT NULL,
	[CodeIso3] [char](3) NOT NULL,
	[district] [char](20) NOT NULL,
	[population] [int] NOT NULL,
	[isCapital] [smallint] NOT NULL DEFAULT ((0)),
 CONSTRAINT [Villes_pk] PRIMARY KEY CLUSTERED 
(
	[idVille] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Continents] ([idContinent], [name]) VALUES (1, N'Afrique')
INSERT [dbo].[Continents] ([idContinent], [name]) VALUES (2, N'Antarctique')
INSERT [dbo].[Continents] ([idContinent], [name]) VALUES (3, N'Asie')
INSERT [dbo].[Pays] ([CodeIso3], [Name], [surfacearea], [indepyear], [population], [lifeexpectancy], [gnp], [gnpold], [localName], [CodeIso2], [idRegion], [idgovform], [idheadofstate]) VALUES (N'ABW', N'Aruba                                               ', 193, NULL, 103000, 78.4, 828, 793, N'Aruba                                        ', N'AW', 5, 11, 31)
INSERT [dbo].[Pays] ([CodeIso3], [Name], [surfacearea], [indepyear], [population], [lifeexpectancy], [gnp], [gnpold], [localName], [CodeIso2], [idRegion], [idgovform], [idheadofstate]) VALUES (N'AFG', N'Afghanistan                                         ', 652090, 1919, 22720000, 45.9, 5976, NULL, N'Afganistan/Afqanestan                        ', N'AF', 22, 31, 103)
INSERT [dbo].[Pays] ([CodeIso3], [Name], [surfacearea], [indepyear], [population], [lifeexpectancy], [gnp], [gnpold], [localName], [CodeIso2], [idRegion], [idgovform], [idheadofstate]) VALUES (N'AGO', N'Angola                                              ', 1246700, 1975, 12878000, 38.3, 6648, 7984, N'Angola                                       ', N'AO', 6, 5, 63)
GO
INSERT [dbo].[Regions] ([idRegion], [name], [idContinent]) VALUES (1, N'Antarctica', 2)
INSERT [dbo].[Regions] ([idRegion], [name], [idContinent]) VALUES (2, N'Australia and New Zealand', 6)
INSERT [dbo].[Regions] ([idRegion], [name], [idContinent]) VALUES (3, N'Baltic Countries', 4)
INSERT [dbo].[Villes] ([idVille], [name], [CodeIso3], [district], [population], [isCapital]) VALUES (1, N'Kabul                              ', N'AFG', N'Kabol               ', 1780000, 1)
INSERT [dbo].[Villes] ([idVille], [name], [CodeIso3], [district], [population], [isCapital]) VALUES (2, N'Qandahar                           ', N'AFG', N'Qandahar            ', 237500, 0)
INSERT [dbo].[Villes] ([idVille], [name], [CodeIso3], [district], [population], [isCapital]) VALUES (3, N'Herat                              ', N'AFG', N'Herat               ', 186800, 0)
GO
ALTER TABLE [dbo].[Pays]  WITH CHECK ADD  CONSTRAINT [Pays_Regions_fk] FOREIGN KEY([idRegion])
REFERENCES [dbo].[Regions] ([idRegion])
GO
ALTER TABLE [dbo].[Pays] CHECK CONSTRAINT [Pays_Regions_fk]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [Regions_Continents_fk] FOREIGN KEY([idContinent])
REFERENCES [dbo].[Continents] ([idContinent])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [Regions_Continents_fk]
GO
ALTER TABLE [dbo].[Villes]  WITH CHECK ADD  CONSTRAINT [Villes_Pays_fk] FOREIGN KEY([CodeIso3])
REFERENCES [dbo].[Pays] ([CodeIso3])
GO
ALTER TABLE [dbo].[Villes] CHECK CONSTRAINT [Villes_Pays_fk]
GO
