
<fieldset>
    <legend class="line-info text-center">Informations du séjour</legend>

    <div class="row">
        @*Période du séjour*@
        <div class="form-group col-sm-6">

            <div class="form-group col-xs-12">
                
                        <input type="checkbox" id="DateIndifferente" name="DateIndifferente" value="1" checked="checked" />
                        <label for="1" class="">Date indifférente</label>
                        <div class="form-group">
                            <label for="DateDepart">Date de départ</label>
                            <input id="DateDepart" class="form-control" name="DateDepart" disabled />
                        </div>
                        <label for="DateMarge">Marge</label>
                        <input type="radio" class="form-inline" name="DateMarge" value="5" disabled /><text>5j</text>
                        <input type="radio" class="form-inline" name="DateMarge" value="15" disabled /><text>15j</text>
                  
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="Duree">Durée du séjour (jours)</label>
            <input type="number" id="DureeMini" class="form-control" name="DureeMini" placeholder="Durée minimum" />
            <input type="number" id="DureeMaxi" class="form-control" name="DureeMaxi" placeholder="Durée maximum" />
        </div>
    </div>

    <div class="row">
        @*Prix
            // TODO revoir gestion Prix*@
        @*<input type="hidden" id="prixMaxSlider" value="@ViewBag.PrixMaxSlider" />*@
        <div class="form-group col-sm-6">
            <label>Tranche de prix</label>
            <input type="number" id="PrixMini" name="PrixMini" class="form-control" placeholder="Prix minimum"  />
            <input type="number" id="PrixMaxi" name="PrixMaxi" class="form-control" placeholder="Prix maximum"/>
            @*<div id="Prix" class="col-sm-12"></div>*@
        </div>

        @*Nombre de personnes*@
        <div class="form-group col-sm-6">
            <label>Nombre de personnes</label>
            <select name="NbPers" id="NbPers" class="form-control">
                @for (int i = 1; i <= Model.DisponibiliteMax; i++) { 
                        <option value="@i">@i</option>
                    }
               </select>
        </div>


    </div>



</fieldset>
