body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

[class*="col-"] {
    line-height: 30px !important;
}

/*Style Personnel Form115*/
.arriereplan {
    background-image: url(../Areas/Admin/Uploads/shutterstock_redim.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
}

.sansBordure {
    border: none;
}

.promo_haut_droite {
    color: red;
    font-weight: bold;
    padding-top: 15px;
    display: block;
}

.arriereplan2 {
    background-color: #CD8F14;
    background-position: inherit;
    position: inherit;
    resize: none;
}
.col-sm-2::after{
    display:table-cell;
}
