
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>
<br/>
<h4>Hermestistes vous remercient pour votre confiance et vous souhaite un agréable séjour</h4>

<div>
    
    @Html.ActionLink("Accueil", "Index", "Home")
</div>