
@{
    ViewBag.Title = "ReserverImpossible";
}

<h4>Nous sommes desolés, il est impossible de procéder à une réservation car nous n'avons pas assez ou plus assez de places disponibles pour répondre à votre demande..
    <br/>Merci de rechercher un nouveau séjour </h4>

<a href="~/Search/Index"><div class="btn btn-info">Nouvelle Recherche</div></a>
