@using DataLayer.Models
@Model HotelView
@{
    ViewBag.Title = "Reserver";
}

<h2>Réservation</h2>

<div class="form-group col-sm-4 glyphicon-check">
    fdfffd



    

</div>

<div class="col-sm-8">




</div>
