@model Form115.Models.BrowseViewModel
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@section scripts{
    <script src="~/Scripts/Browse/Index.js"></script>
}

<p id="BreadCrumb">Parcourir le catalogue >> Continents</p>

<h2 id="texteChoix">Choix du continent</h2>
<ul id="listeChoix">
    @foreach (var continent in Model.ListeContinents)
    {
        <li><a class="Continents btn-info li-browse" href="#" id="@continent.Key">@continent.Value</a></li>
    }
</ul>
<div id="partial_views">
    @{
        int cpt = 0;
        foreach (var item in ViewBag.BestHotels)
        {
            <text><div class="col-sm-6" id="@String.Format("partial_view_search_result{0}",cpt)">

                    @Html.Action("PartialSearchResult", "Search", new { srpvi = item })
                </div></text>
            cpt++;
        }
    }
</div>
<div id="hidden_partial_view" hidden>
    @*partial view clonée par js*@
</div>